<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Bienvenido!</h1>
    <img src="https://i.pinimg.com/originals/b6/cd/e8/b6cde81d1c489b0e20d85a6e06c5f8f9.png" />
  </div>

  <form id="form" [formGroup]="editForm" (ngSubmit)="login()">
    <div *ngIf="errorMessage" class="bg-[#fee2e2] p-3 rounded-xl mb-3">
      <ion-text class="text-[#c84646]">{{errorMessage}}</ion-text>
    </div>

    <ion-item class="ion-margin-bottom">
      <ion-input id="input-email" formControlName="email" placeholder="Email" required type="email" class="inputs"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input id="input-pass" formControlName="password" placeholder="Contraseña" type="password" required class="inputs">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-text class="underline flex justify-end mr-5 cursor-pointer mt-5" color="primary"
      (click)="navigateToRegister()">No
      tienes cuenta?</ion-text>
    <ion-button [disabled]="!editForm.valid" expand="block" shape="round" type="submit">
      <ion-text *ngIf="!isLoading">Iniciar Sesión</ion-text>
      <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner>
    </ion-button>
  </form>
</ion-content>